.article {
  width: 100%;

  padding: 2% 5%;
}
.article h3 {
  text-align: center;
  padding-bottom: 2rem;
}

.article-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.article-box {
    width: 50%;
    padding: 0 7%;
  }


.article-flex img{
    width: 100%;
    height: 40vh; 
   
    object-fit: cover;
}
.article-flex ul {
  padding-left: 3rem;
}
