.product-section {
  padding: 3rem;

  display: flex;
  flex-direction: row;
}

.productbox {
  height: 80vh;
  width: 50%;

  padding: 3rem;
}
.product-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* product-contentbox */
.product-contentbox ul {
  padding-left: 3rem;
}

/* content */
.product-top {
  padding-bottom: 2rem;
}

/* add cart */
.quantity-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.addcart-quantity {
  padding-right: 3%;
}

/* quantity-selector */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .product-quantity {
  width: 10rem;
  display: block;
} */

input {
  max-width: 2rem;
  margin: 0;
  padding: 0.75rem 0;
  text-align: center;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 0;
}

.quantity-selectors-container {
  display: inline-block;
  vertical-align: top;
}

.quantity-selectors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.quantity-selectors button {
  -webkit-appearance: none;

  border-radius: 0;
  border: 1px solid grey;
  background-color: #fff;
  color: grey;
}

.quantity-selectors button:first-child {
  border-bottom: 0;
}

.quantity-selectors button:hover {
  cursor: pointer;
}

.quantity-selectors button[disabled="disabled"] {
  cursor: not-allowed;
}

.quantity-selectors button[disabled="disabled"] span {
  opacity: 0.5;
}

.quantity button {
  padding: 0 1%;
}

/* tablet */
@media (min-width: 501px) and (max-width: 768px) {
  .product-section {
    flex-direction: column;
  }
  .product-imgbox img {
    height: 50vh;
  }

  .productbox {
    height: auto;
    width: 100%;
  }
}

/* Smartphone */
@media (max-width: 500px) {
  .product-section {
    flex-direction: column;
  }
  .product-imgbox img {
    height: 40vh;
  }

  .productbox {
    height: auto;
    width: 100%;
  }
}
